<nav class="red darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img style="width: 120px;" src="../img/hotdoglogo2.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isIndex}}
        <li class="active"><a href="/">Hot Dogs</a></li>
        {{else}}
        <li><a href="/">Hot Dogs</a></li>
        {{/if}}


        {{#if isCreate}}
        <li class="active"><a href="/create">Create a Hot Dog</a></li>
        {{else}}
        <li><a href="/create">Create a Hot Dog</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>