<form action="/create" method="POST">
    <h2>Create a Hot Dog</h2>
    <div class="input-field">
        <input type="text" required name="title">
        <label>Hot Dog title</label>
    </div>
    <label class="img-label">
        <input type="radio" name="img" value="hotdogket.png" checked>
        <img style="width: 60px;" src="../img/hotdogket.png" alt="">
    </label>
    <label class="img-label">
        <input type="radio" name="img" value="hotdogmus.png">
        <img style="width: 60px;" src="../img/hotdogmus.png" alt="">
    </label>
    <label class="img-label">
        <input type="radio" name="img" value="hotdogket_mus.png">
        <img style="width: 60px;" src="../img/hotdogket_mus.png" alt="">
    </label>
    <button type="submit" class="btn">Create</button>

</form>
